.card {
  background-color: rgb(123, 205, 230);
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(24, 55, 147, 0.2);
  padding: 20px;
  margin: 20px auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
  border: 2px solid black;
}

.flagImage {
  width: 400px;
  height: auto;
  border-radius: 10px;
  justify-content: right;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.cardContent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.countryInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.activitiesInfo {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goHome {
  margin-top: auto; 
  margin: 30px;
  text-align: center;
}

.goHome a {
  text-decoration: none;
  background-color: coral;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s, font-size 0.2s; 
}

.goHome a:hover {
  background-color: rgba(245, 73, 10, 0.927);
  transform: scale(1.05); 
  font-size: 18px; 
}
