/* Estilos para el contenedor principal de la tarjeta */
.cardContainer {
  background-color: #007bff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  max-width: 500px; /* Limitamos el ancho máximo de la tarjeta */
}

/* Estilos para el contenido de la tarjeta */
.cardContent {
  flex: 1;
  margin-left: 20px; /* Añadimos un margen a la izquierda del contenido del texto */
}

/* Otros estilos para el contenido de la tarjeta */
.cardContent h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.activities {
  margin-top: 20px;
  color: #fff;
}

.activities h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.activities ul {
  list-style: none;
  padding-left: 0;
}

.activities li {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Estilos para el contenedor de la imagen de la bandera */
.flagImageContainer {
  width: 200px; /* Ancho fijo del contenedor */
  height: 150px; /* Altura fija de la imagen */
  overflow: hidden; /* Ocultar partes de la imagen que se salgan del contenedor */
  border-radius: 15px 15px 0 0; /* Bordes redondeados solo en la esquina superior */
}

/* Estilos para la imagen de la bandera */
.flagImage {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: 100%; /* La imagen ocupará todo el alto del contenedor */
  object-fit: cover; /* Ajustamos la imagen para que cubra el contenedor */
  object-position: center; /* Centramos la imagen verticalmente dentro del contenedor */
}

.cardContent a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: #000; /* Cambia el color del texto a negro (o el color que desees) */
}