@font-face {
    font-family: 'patrickhand'; /* El nombre de la fuente que usarás */
    src: url('../../assets/font/PatrickHand.ttf') format('truetype');
}


.landing {
    background: url('https://img1.wallspic.com/previews/0/7/4/9/99470/99470-barco_blanco_en_el_mar_bajo_un_cielo_azul_durante_el_dia-x750.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 100px 150px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-content {
    text-align: center;
    margin-bottom: 50px; /* Ajustamos la distancia desde la parte inferior */
    max-width: 600px; /* Limitamos el ancho del contenido */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

.landing h1 {
    font-size: 60px; /* Tamaño de fuente más grande */
    margin-bottom: 20px;
    font-family: 'patrickhand', serif;
    font-weight: bold; /* Texto en negrita */
    color: #0b2f82; /* Color más oscuro */
}

.landing button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: coral;
    color: #fff;
    cursor: pointer;
    border-radius: 25px; /* Mayor borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra futurista */
    transition: background-color 0.3s ease-in-out; /* Transición suave al pasar el ratón */
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.landing button:hover {
    background-color: rgb(233, 74, 16);
    transform: scale(1.05);
}
