.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 15px;
    border: 1px solid black;

}

.link {
    text-decoration: none; /* Elimina el subrayado */
    color: black; /* Cambia el color del texto a negro */
  }