@font-face {
  font-family: 'patrickhand';
  src: url('../../assets/font/PatrickHand.ttf') format('truetype');
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 15px;
    border: 1px solid transparent;
    margin-bottom: 30px;
    align-items: center;
    z-index: 1000; 
    transition: height 0.3s ease, border-width 0.3s ease; 
  }

  .imageContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; 
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-color: black;
  background-color: lightblue; 
  border-width: 2px; 
  }
  
  .linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    background-color: aquamarine;
    padding: 5px 0; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: aquamarine;
    border-radius: 15px;
  }
  
  .link {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    transition: text-shadow 0.3s;
    font-family: 'GlowingFont', sans-serif;
  }
  
  .link:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .imageFavicon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .imageFavicon img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  
.navbarButton {
  font-family: 'patrickhand', serif;
  font-size: 25px;
}